<!DOCTYPE html>
<html>
    <head>
        <% include ../includes/header.ejs %>

    </head>

    <body>
      <div class="main-div">
        <% include ../includes/nav.ejs %>

        <div class="login">
            <form class="submission" action="/authentication/signup" method="POST">
                <!--<label for="username" >Username</label>-->
                <input type="text" name="username" id="username" placeholder="Username" required><br/><br/>
                <!--<label for="password">Password</label><br/>-->
                <input type="password" name="password" id="password" placeholder="Password" required><br/><br/>
                <button type="submit">Signup</button>
                <br/><br/>
                <a href="login">Already have an account?</a>
            </form>

        </div>
        <% include ../includes/footer.ejs %>
      </div>
    </body>
</html>
