<!DOCTYPE html>
<html>
    <head>
        <% include ../includes/header.ejs %>
    </head>

    <body>
      <div class="main-div">
        <% include ../includes/nav.ejs %>

        <%= title %>

        <% include ../includes/footer.ejs %>
      </div>
    </body>
</html>
